#app4{
    display: flex;
    align-items: center;
    justify-content: center;
}
#app4 .circle{
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    border: 1px solid #000;
}

#app4 .circle.ac{
    animation: change 2s infinite alternate linear;
}

@keyframes change {
    0%{
        background: #fff;
    }
    100%{
        background: #000;
    }
}